$\color{red}{\LARGE{\text{Python Basics}}}$

In [1]:
import math as m
import numpy as np

In [2]:
x,y = 1,2
print(x)
print(y)

1
2

In [3]:
y = 10
print(str(y),'Dollars')
print(str(y) + ' Dollars')

10 Dollars
10 Dollars

In [4]:
print(16/3)
print(m.floor(16/3))
print(16%3)

5.333333333333333
5
1

In [5]:
2.0*1.5+\
5
#The back slash indicates the end of the line and allows
#you to spread code over multiple lines

8.0

In [6]:
print('Friday'[3])

d

In [7]:
def five(x):
    x = 5
    return x

print(five(3))

5

In [8]:
print(True and False)
print(True or False)
print(True and not True)
print(False or not True and True)
#The order of operations is; not, and, or

#So for the last example we have
#(False or (not(True) and True))
#(False or (False and True))
#(False or False)
#False

False
True
False
False

In [9]:
def simple():
    print("Result")
    
simple()

Result

In [10]:
def plus_ten(a):
    return a + 10

plus_ten(11)

21

In [11]:
def plus_ten(a):
    result = a + 10
    return result

plus_ten(2)

12

In [12]:
def wage(hours):
    return hours*25

def with_bonus(hours):
    return wage(hours) + 50

wage(8), with_bonus(8)

(200, 250)

In [13]:
def add_ten(m):
    if m>100:
        m = m+10
        return m
    else:
        return "Save more!"
        
print(add_ten(110))
print(add_ten(50))

120
Save more!

In [14]:
def subtract_bc(a, b, c):
    result = a-b*c
    print('Paramenter a equals', a)
    print('Paramenter b equals', b)
    print('Paramenter c equals', c)
    return result

subtract_bc(10, 3, 2)

Paramenter a equals 10
Paramenter b equals 3
Paramenter c equals 2

4

In [15]:
print(max(10, 20, 30)) #returns max value
print(min(10, 20, 30)) #returns min value
z = -20
print(abs(z)) #returns absolute value of z
list_1 = [1, 2, 3, 4]
print(sum(list_1)) #returns sum of the list
print(round(3.555, 2)) #rounds number to specified number of d.p
print(round(3.555)) #number of d.p here assumed to be 0
print(pow(2, 3)) #returns 2 to the power of 3
print(len('Mathematics')) # returns number of elements in object

30
10
20
10
3.56
4
8
11

# Sequences
## Lists

In [16]:
People = ['John', 'Leila', 'Gregory', 'Kate']
People
#A list is a type of sequence of data points

['John', 'Leila', 'Gregory', 'Kate']

In [17]:
People[1]

'Leila'

In [18]:
People[-1]

'Kate'

In [19]:
People[3] = 'Maria'
People

['John', 'Leila', 'Gregory', 'Maria']

In [20]:
del People[2]
People

['John', 'Leila', 'Maria']

In [21]:
People.append('Paul')
People

['John', 'Leila', 'Maria', 'Paul']

In [22]:
People.extend(['George', 'Caoimhe'])
People

['John', 'Leila', 'Maria', 'Paul', 'George', 'Caoimhe']

In [23]:
len(People)

6

In [24]:
People[1:3]

['Leila', 'Maria']

In [25]:
People[-2:]

['George', 'Caoimhe']

In [26]:
People.index('Maria')

2

In [27]:
New = ['Connor', 'Ciara']
New

['Connor', 'Ciara']

In [28]:
Bigger_list = [People, New]
Bigger_list

[['John', 'Leila', 'Maria', 'Paul', 'George', 'Caoimhe'], ['Connor', 'Ciara']]

In [29]:
People.sort()
People

['Caoimhe', 'George', 'John', 'Leila', 'Maria', 'Paul']

In [30]:
People.sort(reverse=True)
People

['Paul', 'Maria', 'Leila', 'John', 'George', 'Caoimhe']

## Tuples
- Tuples are another type of data sequence
- They are immutable (i.e. cannot be modified)
- They are the default sequence type in Python

In [31]:
x = (40, 41, 42)
y = 50, 51, 52
print(x)
print(type(y))
print(y)

(40, 41, 42)
<class 'tuple'>
(50, 51, 52)

In [32]:
List_2 = [x,y]
List_2

[(40, 41, 42), (50, 51, 52)]

In [33]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [34]:
def square_info(x):
    A = x**2
    P = 4*x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Dictionaries
- Another way of storing data

In [35]:
dict = {'k1':'cat', 'k2':'dog', 'k3':'mouse', 'k4':'fish'}
dict
#k1, k2, etc. are keys
#cat, dog, etc. are values

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [36]:
dict['k1']

'cat'

In [38]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [39]:
dict['k3'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'squirrel', 'k4': 'fish', 'k5': 'parrot'}

In [41]:
workers = {'dep_1':'Peter', 'dep_2':['Jennifer', 'Michael', 'Tommy']}
workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [43]:
team = {}
team['Goalie'] = 'Dexter'
team['Striker'] = 'Clay'
team['Midfielder'] = 'Connor'
team['Defender'] = 'Dan'
print(team)

{'Goalie': 'Dexter', 'Striker': 'Clay', 'Midfielder': 'Connor', 'Defender': 'Dan'}

In [44]:
print(team['Midfielder'])

Connor

In [45]:
print(team.get('Defender'))

Dan

In [46]:
print(team.get('Coach'))

None

# Loops
## For Loops

In [56]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

for n in even:
    print(n, end = ' ') #prints horizontally

0 2 4 6 8 10 12 14 16 18 20

In [57]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

for i in range(0, len(even)):
    even[i] = even[i] +1  
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

## While Loops

In [1]:
x = 0
while x <=20:
    print(x, end = ' ')
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Range

In [2]:
range(10)

range(0, 10)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(3,7))

[3, 4, 5, 6]

In [8]:
list(range(1, 20, 2))
#range(start, stop, step)
#stop is the last number wanted +1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Conditional Statements, Functions and Loops

In [9]:
for n in range(10):
    print(2**n, end = ' ')

1 2 4 8 16 32 64 128 256 512

In [10]:
for x in range(20):
    if x%2 == 0:
        print(x, end = ' ')
    else:
        print('Odd', end = ' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [11]:
x = [0, 1, 2]
for item in x:
    print(item, end = ' ')

0 1 2

In [12]:
for item in range(len(x)):
    print(x[item], end = ' ')

0 1 2

In [13]:
def count(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total += 1
    return total

In [16]:
list_1 = [1, 3, 7, 15, 23, 43, 56, 98, 17]

In [17]:
count(list_1)

5

## How to iterate over a dictionary

In [19]:
prices = {
    'spaghetti' : 4,
    'lasagna' : 5,
    'hamburger' : 2
}

quantity = {
    'spaghetti' : 6,
    'lasagna' : 10,
    'hamburger' : 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print(money_spent)

74

# Advanced Python Tools

## Object Oriented Programming

### What is an Object?
- Every value in Python is an object, this includes; floats, strings, integers, lists, etc.
- These can be thought of as logical objects
- OOP refers to the concept of interacting with one or more objects
- Object = Data + Manipulation Operators

### Classes, Attributes and Methods
- Every object belongs to a **class** which defines the rules for creating that object
- We can attach a certain number of **attributes** to objects in the same class
- **Methods** can be applied to objects in the same class

### Example
obj = \[15.9, 12.4, 64.0\]
- An oject can also be called an instance
- Attributes can also be called properties
- The object above belongs to the list class, its attributes are that the type of data are floats, a method that could be applied to this object coule be .append(), .extend(), .index()

### Function vs Method
- A function can have many parameters, in a method the object is one of its parameters
- A function exists on its own, a method belongs to a certain class
- Syntax: function() vs object.method()

# Modules and Packages
- A module is a pre-written code containing definitions of variables, functions and classes
- It can be loaded in all new programs, and we don't need to rewrite the code manually at the start of each program
- Package and Library can be used interchangably

## What is the standard library?
- Python's Standard Library is a collection of modules available as soon as you install Python, e.g. len() and list Class

In [20]:
# Importing modules
import math as m
m.sqrt(9)

3.0

In [21]:
from math import sqrt
sqrt(16)

4.0

In [22]:
from math import sqrt as s
s(25)

5.0

In [23]:
from math import *
#This imports everything from math, all classes, definitions, etc.
#frowned upon by professionals

In [24]:
help(m.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.